@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    background-size: cover;
    border-radius: 20px;
}

a:hover {
    background-color: rgb(4, 255, 0);
    color: black;
}
